.masterTopBar {
    background-color: maroon;
    height: 8%;
}

nav a {
    font-size: larger;
    font-weight: bold;
    color: white;
}

nav > div > div > ul > li > a:hover {
    background-color: white;
    color: maroon;
}

nav > div > div > ul > li > form > div > input {
    width: 20%;
}

.form-control {
    width: 500px !important;
}
