.masterTopBar {
    background-color: maroon;
    
}


.bgImages {
    /* Full height */
    height: 100%;
    width: 100%;
    padding-top: initial;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav a {
    font-size: larger;
    font-weight: bold;
    color: white;
}

nav > div > div > ul > li > a:hover {
    background-color: lightgrey;
    color: maroon;
}

#aBecome, #enrolledJobs {
    font-size: larger;
    font-weight: bold;
    color: gold;
}

#aBecome:hover, #enrolledJobs:hover {
    background-color: gold;
    color: red;
}

nav > div > div > ul > li > form > div > input {
    width: 20%;
}

.invisibleClass{
    visibility: hidden;
}

